@import "tailwindcss";

@theme inline {
  /* Background */
  --color-bg1: #001433;
  --color-bg2: #000e24;

  /* Surfaces */
  --color-surface: #003D99;
  --color-surfaceHover: #002966;
  --color-surfaceActive: #001433;

  /* Text */
  --color-text: #E5F0FF;
  --color-textMuted: #CCE0FF;
  --color-textDark: #001433;

  /* Accent */
  --color-accent: #0066ff;
  --color-accentHover: #0066ff;
  --color-accentActive: #002966;

  /* Icon background */
  --color-icon: #E5F0FF;
  --color-iconHover: #E0E7FF;
  --color-iconAccent: #FFFFFF;

  /* Borders */
  --color-border: #3A4A66;

  --color-digital-blue-50: #e5f0ff;
  --color-digital-blue-100: #cce0ff;
  --color-digital-blue-200: #99c2ff;
  --color-digital-blue-300: #66a3ff;
  --color-digital-blue-400: #3385ff;
  --color-digital-blue-500: #0066ff;
  --color-digital-blue-600: #0052cc;
  --color-digital-blue-700: #003d99;
  --color-digital-blue-800: #002966;
  --color-digital-blue-900: #001433;
  --color-digital-blue-950: #000e24;
}

@layer base {
  :root {
    --bg: #0B1220;

    --surface: #111827;
    --surface-hover: #1F2937;

    --text: #FFFFFF;
    --text-muted: #9CA3AF;

    --accent: #3B82F6;
    --accent-hover: #60A5FA;

    --border: #2D3748;
  }

  body {
    background: var(--bg);
    color: var(--text);
    font-family: Arial, Helvetica, sans-serif;
  }
}